body, html {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "usersearch prs"
    "repos issues";
}